test*.js
build/
*.swp
.idea
.DS_STORE
node_modules
npm-debug.log
*~
src/test/binary/tmp/*
src/test/tmp/*
src/test/dialects/sqlite/test.sqlite
src/test/sqlite/test.sqlite
coverage-*
site
docs/api/tmp.md
ssce.js
sscce.js
coverage
.vscode/
*.sublime*
esdoc
.history
package-lock.json
yarn.lock
